<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <h3>Listing Details : </h3>
    <ul>
        <li><%= oneListing.title %></li>
        <li><%= oneListing.description %></li>
        <li>&#8377; <%= oneListing.price.toLocaleString("en-IN") %></li>
        <li><%= oneListing.location %></li>
        <li><%= oneListing.country %></li>
        <br>
        <a href="/listings/<%= oneListing._id%>/edit">Edit this listing</a>
        <br><br>
        <form method="POST" action="/listings/<%= oneListing._id%>?_method=DELETE"><button>Delete</button></form>
    </ul>
</body>